.oneofbox {
    display: flex;
    width: 100%;
    gap: 5px;
    position: relative;
    transition: all 0.3s;

    .todoIsDone {
        text-decoration: line-through;
        color: rgb(55, 55, 55);
        border: 1px solid rgb(172, 255, 47);
        background-color: rgba(172, 255, 47, 0.565);
    }

    .delete {
        position: absolute;
        top: 3px;
        right: 5px;
        cursor: pointer;
    }

    .edit {
        position: absolute;
        top: 3px;
        right: 35px;
        cursor: pointer;
    }

    .done {
        position: absolute;
        top: 3px;
        right: 65px;
        cursor: pointer;
    }

    img {
        width: 20px;
    }
}

.oneofbox:hover {
    transform: scale(1.1);
}



.inpu {
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.437);
    padding: 5px;
    color: rgb(55, 55, 55);
}


.onedit {
    background-color: rgba(137, 43, 226, 0.417);
    color: white;
    border: 1.5px solid rgb(239, 46, 46);
}