.oneofbox {
    display: flex;
    width: 100%;
    gap: 5px;
    position: relative;

    .delete {
        position: absolute;
        top: 3px;
        right: 5px;
        cursor: pointer;
    }

    .edit {
        position: absolute;
        top: 3px;
        right: 35px;
        cursor: pointer;
    }
    .done{
        position: absolute;
        top: 3px;
        right: 65px;
        cursor: pointer;
    }
    img {
        width: 20px;
    }
}
.todoIsDone{
    text-decoration: line-through;
    background-color: rgb(128, 128, 128);
    color: white;
}
.inpu {
        width: 100%;
        border-radius: 8px;
        border: 1px solid gray;
        background-color: rgba(128, 128, 128, 0.437);
        padding: 5px;
    }
.onedit{
    background-color: rgba(137, 43, 226, 0.417);
    color: white;
}