.App {
  text-align: center;
}
body{
  background-color: rgba(102, 51, 153, 0.727);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}