.ListBody {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 10px;
    gap: 40px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(248, 247, 247, 0.12) 0px -12px 30px, rgba(245, 243, 243, 0.12) 0px 4px 6px, rgba(247, 245, 245, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;
    .inpbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;

        input {
            width: 100%;
            padding: 5px;
            border-radius: 8px;
            border: 1px solid gray;
        }
    }

    .addbut {
        padding: 5px 10px;
        width: fit-content;
        border: 1px solid gray;
        border-radius: 8px;
        background-color: rgba(137, 43, 226, 0.708);
        color: white;
        cursor: pointer;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        user-select: none;
    }
}